/*  your css code here. If applicable */
#main-container{
	padding: 10px 20px;
	background-color: #f5f5f5;
}
.testimonial{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	border: 2px solid gray;
	background-color: white;
	margin-bottom: 15px;
}
.author{
	text-align: right;
	font-style: italic;
}